.display-inline {
    display: inline !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-top-10 {
    margin-top: 10px !important ;
}

.conversation-container > .header {
    background-color: #1f3651 !important;
  }

.client {
    background-color: #1f3651 !important;
    color: white !important;

}

.message > .response {
    background-color: black !important;
    color: white !important;
}

.launcher {
    background-color: #1f3651 !important;
}

.close-button {
    background-color:  #1f3651 !important;
    color: white !important;
}

.color-red {
    color: red !important;
}

.color-green {
    color: green !important;
}